# Gradle & Android
.gradle/
build/
*/build/
app/build/
*.iml
.idea/
local.properties
.DS_Store
*.apk
*.ap_
*.aab
*.dex

# Node & Cloudflare Worker
server/node_modules/
server/.wrangler/
server/dist/
server/out/
server/worker.min.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Temp
.vscode/
Thumbs.db
